.listItem {
  padding-left: 0;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  border: 1px solid darkseagreen;
  border-radius: 12px;

  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.item:nth-child(2n) {
  background-color: #d1e4d0;
}

.btn {
  height: 30px;
  background-color: darkseagreen;
  color: #fff;

  border: 1px solid darkseagreen;
  border-radius: 12px;
}
